<!doctype html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" />
    <title>Create New Article | Book Library</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/transitions.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/color.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <style>
      .tg-formcreate {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      .tg-formcreate .form-group {
        margin-bottom: 20px;
      }
      .tg-formcreate label {
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
      }
      .tg-formcreate input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
      }
      .tg-formcreate .tg-btn {
        background-color: #28a745;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }
      .tg-formcreate .tg-btn:hover {
        background-color: #218838;
      }
    </style>
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/editor.js"></script>
  </head>
  <body>
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
      <%- include('../partials/header') %>
      <div
        class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
        data-z-index="-100"
        data-appear-top-offset="600"
        data-parallax="scroll"
        data-image-src="/images/parallax/bgparallax-07.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="tg-innerbannercontent">
                <h1>Create New Article</h1>
                <ol class="tg-breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li><a href="/articles">News</a></li>
                  <li class="tg-active">Create Article</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <main id="tg-main" class="tg-main tg-haslayout">
        <div class="tg-sectionspace tg-haslayout">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-formcreate">
                  <form
                    action="/api/admin/articles"
                    method="POST"
                    enctype="multipart/form-data"
                    id="articleForm"
                  >
                    <div class="form-group">
                      <label for="title">Article Title</label>
                      <input
                        type="text"
                        id="title"
                        name="title"
                        placeholder="Enter article title"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="image">Article Image</label>
                      <input type="file" id="image" name="image" accept="image/*" required />
                    </div>
                    <div class="form-group">
                      <label for="content">Content</label>
                      <div id="content"></div>
                      <input type="hidden" id="contentHidden" name="content" />
                    </div>
                    <div class="form-group">
                      <button type="submit" class="tg-btn">Publish Article</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
    </div>
    <script src="/js/vendor/jquery-library.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.vide.min.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/countTo.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/gmap3.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
