<header id="tg-header" class="tg-header tg-haslayout">
  <style>
    .tg-btnlogout {
      margin-left: 15px;
      color: #fff;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      padding: 5px 10px;
      background-color: #dc3545; /* Red color for logout */
      border-radius: 4px;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    .tg-btnlogout:hover {
      background-color: #c82333;
      text-decoration: none;
      color: #fff;
    }

    .tg-btnlogout .icon-exit {
      margin-right: 5px;
      font-size: 16px;
    }

    /* Ensure the user login section has enough space */
    .tg-userlogin {
      display: flex;
      align-items: center;
    }
  </style>
  <div class="tg-topbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tg-addnav">
            <li>
              <a href="/javascript:void(0);">
                <i class="icon-envelope"></i>
                <em>Contact</em>
              </a>
            </li>
            <li>
              <a href="/javascript:void(0);">
                <i class="icon-question-circle"></i>
                <em>Help</em>
              </a>
            </li>
          </ul>
          <div class="dropdown tg-themedropdown tg-currencydropdown">
            <a
              href="/javascript:void(0);"
              id="tg-currenty"
              class="tg-btnthemedropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="icon-earth"></i>
              <span>Currency</span>
            </a>
          </div>
          <div class="tg-userlogin">
            <% if (typeof user !== 'undefined' && user) { %>
              <figure>
                <a href="/api/auth/profile">
                  <img src="<%= user.avatar || '/images/users/default-avatar.jpg' %>" alt="<%= user.fullname || user.username || 'User' %>" />
                </a>
              </figure>
              <span>Hi, <%= user.fullname || user.username || 'User' %></span>
              <a href="/api/auth/logout" class="tg-btnlogout" id="tg-btnlogout">
                <i class="icon-exit"></i>
                <span>Logout</span>
              </a>
            <% } else { %>
              <a href="/api/auth" class="tg-btnlogin">
                <i class="icon-login"></i>
                <span>Login</span>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-middlecontainer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <strong class="tg-logo"
            ><a href="/index-2.html"><img src="/images/logo.png" alt="company name here" /></a
          ></strong>
          <div class="tg-wishlistandcart">
            <div class="dropdown tg-themedropdown tg-wishlistdropdown">
              <a
                href="/javascript:void(0);"
                id="tg-wishlisst"
                class="tg-btnthemedropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="tg-themebadge">3</span>
                <i class="icon-heart"></i>
                <span>Wishlist</span>
              </a>
              <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-wishlisst">
                <div class="tg-description"><p>No products were added to the wishlist!</p></div>
              </div>
            </div>
            <div class="dropdown tg-themedropdown tg-minicartdropdown">
              <a
                href="/javascript:void(0);"
                id="tg-minicart"
                class="tg-btnthemedropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="tg-themebadge">3</span>
                <i class="icon-cart"></i>
                <span>$123.00</span>
              </a>
              <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
                <div class="tg-minicartbody">
                  <div class="tg-minicarproduct">
                    <figure>
                      <img src="/images/products/img-01.jpg" alt="image description" />
                    </figure>
                    <div class="tg-minicarproductdata">
                      <h5><a href="/javascript:void(0);">Our State Fair Is A Great Function</a></h5>
                      <h6><a href="/javascript:void(0);">$ 12.15</a></h6>
                    </div>
                  </div>
                  <div class="tg-minicarproduct">
                    <figure>
                      <img src="/images/products/img-02.jpg" alt="image description" />
                    </figure>
                    <div class="tg-minicarproductdata">
                      <h5><a href="/javascript:void(0);">Bring Me To Light</a></h5>
                      <h6><a href="/javascript:void(0);">$ 12.15</a></h6>
                    </div>
                  </div>
                  <div class="tg-minicarproduct">
                    <figure>
                      <img src="/images/products/img-03.jpg" alt="image description" />
                    </figure>
                    <div class="tg-minicarproductdata">
                      <h5><a href="/javascript:void(0);">Have Faith In Your Soul</a></h5>
                      <h6><a href="/javascript:void(0);">$ 12.15</a></h6>
                    </div>
                  </div>
                </div>
                <div class="tg-minicartfoot">
                  <a class="tg-btnemptycart" href="/javascript:void(0);">
                    <i class="fa fa-trash-o"></i>
                    <span>Clear Your Cart</span>
                  </a>
                  <span class="tg-subtotal">Subtotal: <strong>35.78</strong></span>
                  <div class="tg-btns">
                    <a class="tg-btn tg-active" href="/javascript:void(0);">View Cart</a>
                    <a class="tg-btn" href="/javascript:void(0);">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tg-searchbox">
            <form class="tg-formtheme tg-formsearch">
              <fieldset>
                <input
                  type="text"
                  name="search"
                  class="typeahead form-control"
                  placeholder="Search by title, author, keyword, ISBN..."
                />
                <button type="submit"><i class="icon-magnifier"></i></button>
              </fieldset>
              <a href="/javascript:void(0);">+ Advanced Search</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-navigationarea">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <nav id="tg-nav" class="tg-nav">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#tg-navigation"
                aria-expanded="false"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
              <ul>
                <li class="menu-item-has-children">
                  <a href="/javascript:void(0);">Home</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="/javascript:void(0);">Authors</a>
                  <ul class="sub-menu">
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/authordetail.html">Author Detail</a></li>
                  </ul>
                </li>
                <li><a href="/products.html">Best Selling</a></li>
                <li><a href="/products.html">Weekly Sale</a></li>
                <li class="menu-item-has-children current-menu-item">
                  <a href="/javascript:void(0);">Latest News</a>
                  <ul class="sub-menu">
                    <li class="current-menu-item"><a href="/newslist.html">News List</a></li>
                    <li><a href="/newsgrid.html">News Grid</a></li>
                    <li><a href="/newsdetail.html">News Detail</a></li>
                  </ul>
                </li>
                <li><a href="/contactus.html">Contact</a></li>
                <li class="menu-item-has-children">
                  <a href="/javascript:void(0);"><i class="icon-menu"></i></a>
                  <ul class="sub-menu">
                    <li class="menu-item-has-children">
                      <a href="/aboutus.html">Products</a>
                      <ul class="sub-menu">
                        <li><a href="/products.html">Products</a></li>
                        <li><a href="/productdetail.html">Product Detail</a></li>
                      </ul>
                    </li>
                    <li><a href="/aboutus.html">About Us</a></li>
                    <li><a href="/404error.html">404 Error</a></li>
                    <li><a href="/comingsoon.html">Coming Soon</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const logoutBtn = document.getElementById('tg-btnlogout');
      if (logoutBtn) {
        logoutBtn.addEventListener('click', function (e) {
          e.preventDefault();

          if (confirm('Are you sure you want to logout?')) {
            fetch('/api/auth/logout', {
              method: 'GET',
              credentials: 'include'
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error('Logout failed');
                }
                return response.json();
              })
              .then((data) => {
                window.location.href = '/api/auth';
              })
              .catch((error) => {
                console.error('Logout Error:', error);
                alert('An error occurred during logout. Please try again.');
              });
          }
        });
      }
    });
  </script>
</header>
<hr />
